# Python字节编译文件
__pycache__/
*.py[cod]
*$py.class

# C扩展
*.so

# 发行版/打包
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 单元测试/覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# 虚拟环境
venv/
env/
ENV/
env.bak/
venv.bak/
.env
.venv
conda/

# IDE相关文件
# PyCharm
.idea/
*.iws
*.iml
*.ipr
.idea_modules/

# VS Code
.vscode/
*.code-workspace
.history/

# Jupyter Notebook
.ipynb_checkpoints

# 数据文件
*.log
*.sql
*.sqlite
*.db

# 操作系统生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 项目特定文件
# 在此添加您项目特定的忽略规则